@charset "utf-8";
/* css document */
body {
    background-image: url("bgimage_optimized.jpg");
    background-size: cover;
    font-family: Catseye, Arial Narrow;    
}

a {
    text-decoration: none;
    color: #505050;
}

h1 {
    font-family: Arial Narrow;
    font-size: large;
    text-align: center;
}

nav {
    text-align-last: right;
    margin-right: 80pt;
}

.topnav {
    width: 1200px;
    text-align: center;
}

.topnav ul {
    display: center;
}

.topnav ul li {
    background-color: #ff5900;
    display: inline-block;
    font-size: 25px;
    text-align: center;
    margin: 0.5%;
    padding: 0.5% 3.3% 0.3% 3.3%;
    box-shadow: 2px 2px 2px 2px dimgray;
}

.topnav ul li:hover {
    background-color: #ffb100;
    transform: scale(1.1,1.1)
}

.topnav ul li ul {
    display: none;
}

.topnav ul li:hover ul{
    display: block;
    position:absolute;
    padding: 0;
}

.topnav ul li ul li {
    background-color:#00a700;
    display: block;
    font-size: 17px;
    text-align: left;
    text-indent: 10px;
    width: 135px;
    margin-left: -20px;
}

.topnav ul li ul li:hover {
    background-color:#00ff8a;
}

/*.slider_image {
    text-align: center;
    margin-top: 20px;
    margin-left: -20px;
}*/
